In [1]:
from src.preprocessing import Preprocessor, initial_prep
from src.config import *
from src.preprocessing import *
from src.utils import load_data
import matplotlib.pyplot as plt

df = load_data(DEVELOPMENT_PATH)
df = initial_prep(df)

In [21]:
df['y'].value_counts(normalize=True)

y
0    0.296855
5    0.157935
2    0.141477
1    0.134573
3    0.121300
4    0.109932
6    0.037927
Name: proportion, dtype: float64

In [2]:
df['article']

Id
0        the organisation of petroleum exporting countr...
1        looking back at the major events that took pla...
2        cqpolitics.com - here are today's battleground...
3        air rather than oxygen should be used to resus...
4        <p><a href="http://us.rd.yahoo.com/dailynews/r...
                               ...
79991    by mark jewell everett, mass. - joey nicotera'...
79992    <p><a href="http://us.rd.yahoo.com/dailynews/r...
79994    afp - police discovered two bombs near the sar...
79995    a report by the international committee of the...
79996    <p><a href="http://us.rd.yahoo.com/dailynews/r...
Name: article, Length: 76620, dtype: object

In [9]:
import re
import html

def clean_html_basic(html_text: str) -> str:
    if not isinstance(html_text, str):
        return html_text

    # 1) rimuovi script e style
    html_text = re.sub(
        r"<(script|style).*?>.*?</\1>",
        " ",
        html_text,
        flags=re.DOTALL | re.IGNORECASE
    )

    # 2) rimuovi tutti i tag HTML
    html_text = re.sub(r"<[^>]+>", " ", html_text)

    # 3) decodifica entit√† HTML (&nbsp;, &amp;, ...)
    html_text = html.unescape(html_text)

    # 4) normalizza spazi
    html_text = re.sub(r"\s+", " ", html_text)

    return html_text.strip()

In [10]:
df['article'] = df['article'].apply(clean_html_basic)

In [11]:
df['article']

Id
0        the organisation of petroleum exporting countr...
1        looking back at the major events that took pla...
2        cqpolitics.com - here are today's battleground...
3        air rather than oxygen should be used to resus...
4        reuters - a high tech german train \ carrying ...
                               ...
79991    by mark jewell everett, mass. - joey nicotera'...
79992    afp - embattled italian prime minister romano ...
79994    afp - police discovered two bombs near the sar...
79995    a report by the international committee of the...
79996    ap - myanmar's junta has agreed to allow a u.n...
Name: article, Length: 76620, dtype: object

In [18]:
df['article'].fillna('')

Id
0        the organisation of petroleum exporting countr...
1        looking back at the major events that took pla...
2        cqpolitics.com - here are today's battleground...
3        air rather than oxygen should be used to resus...
4        reuters - a high tech german train \ carrying ...
                               ...
79991    by mark jewell everett, mass. - joey nicotera'...
79992    afp - embattled italian prime minister romano ...
79994    afp - police discovered two bombs near the sar...
79995    a report by the international committee of the...
79996    ap - myanmar's junta has agreed to allow a u.n...
Name: article, Length: 76620, dtype: object

In [19]:
vectorizer = TfidfVectorizer(stop_words="english", min_df=30, ngram_range=(1,3), strip_accents="unicode")
df['article'].fillna('', inplace=True)
vectorizer.fit_transform(df['article'])

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 1265981 stored elements and shape (76620, 8468)>